# Build/test processes

.tox
.idea
build
dist
MANIFEST
*.pyc
*.pyo
*.pyd
*.dll
*.egg-info
*.so
*.c
*.patch
*.orig
*~
*wheel*/
venv*
.eggs/
lupa/version.py
lupa/lua*.pyx
TEST/

# Vim swapfiles
*.swp

# Track Lua source code
!third-party/**/*.c
